.login__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20vh;
    align-items: center;
}

.group-input {
    width: 300px;
    margin-bottom: 15px;
}

.p-message {
    color: red;
    margin: 3px 0;
}

.h1-title {
    /* color: #3f51b5; */
    font-size: 40px;
}

.btn-login {
    width: 300px;
    margin: 0;
}

.language {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}